.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
}


.node-start {
  /* Styles for the start node */
  background-color: green;
  position: relative;
}

.node-start .start-icon {
  /* Styles for the start icon */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.node-finish {
  /* Styles for the finish node */
  background-color: red;
  position: relative;
}

.node-finish .finish-icon {
  /* Styles for the finish icon */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: #d72631;
  }

  75% {
    transform: scale(1.2);
    background-color:#a2d5c6;
  }

  100% {
    transform: scale(1);
    background-color: #077b8a;
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 123, 0);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 123, 0);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 123, 0);
  }
}
